header.header.clearfix
	nav.navigation
		ul.navigation__block
			li.navigation__item
				a(href="#").navigation__link.navigation__link_purple Личный кабинет
			li.navigation__item 
				a(href="#").navigation__link.navigation__link_green Раздел 1
			li.navigation__item 
				a(href="#").navigation__link.navigation__link_blue Раздел 2
			li.navigation__item 
				a(href="#").navigation__link.navigation__link_orange Раздел 3
			li.navigation__item 
				a(href="#").navigation__link.navigation__link_grey Раздел 4
			li.navigation__item 
				a(href="#").navigation__link.navigation__link_red Раздел 5
